{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>YogiTrainer</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

   <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- jQuery Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script src="{% static 'js/script.js' %}"></script>

  <!-- avoid favico requests-->
  <link rel="icon" href="data:,">

  <!-- Use the Raleway font -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />

  <!-- AOS animation -->
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">

  <!-- W3 animation -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
  <!-- Navigation -->
  <nav id="top-most-navbar" class="navbar navbar-expand-lg navbar-light fixed-top" style="width:100%;border:5px black;background-image: linear-gradient(180deg, #F8F8F8, #e3e1e1)">
    <div class="container">
      <a class="navbar-brand ordinary-text navbar-font" href="/">YogiTrainer.</a>
      <a class="navbar-home" href="/"><img class="home-img" src="/static/img/home.PNG" alt="home"></a>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active bg-img-1" style="height: 70vh">
          <div class="overlay" style="filter:brightness(60%); z-index: 200; width: 100%; height: 100%; background-color: #000; opacity: 0.5;"></div>
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">
    <p style="margin-bottom: 2cm"></p>
    <!-- Intro -->
    <div id="intro" data-aos="fade-up">
      <h1 class="my-4 font-1">
        <center> How it can help you</center>
      </h1>
      <div class="box-medium-large ordinary-text" style="text-align:justify;">
        As more and more people look to yoga as a way to escape the hustle and bustle of every day life, YogiTrainer provides a unique and disruptive solution that brings the knowledge of yoga experts
        to the palms of your hands. By using our product, you can gain a deeper understanding and skill in the art wherever you may be and at your own pace. Our three main value propositions are:
        <b>convenience, experience, portability, and flexibility.</b>
      </div>
    </div>

    <p style="margin-bottom: 2cm"></p>
    <div data-aos="fade-up">
      <div class="row box-medium-large">
        <div class="col-sm-6" data-aos="fade-right" data-aos-duration="1000">
          <h2 class="my-4 font-3"> Convenience </h2>
          <p class="card-text ordinary-text">
            With expert advise that fits right into your pocket, you can have the full experience of your typical yoga class wherever you are, whenever you want to. With advanced 
            features, you can constantly track your performance and gain key feedback to improve your performance.
          </p>
        </div>
        <div id="col-img-4" class="col-sm-6" data-aos="fade-left" data-aos-duration="1000"></div>
      </div>

      <p style="margin-bottom: 0.7cm"></p>
      <div class="row box-medium-large col-reverse">
        <div id="col-img-5" class="col-sm-6" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500"></div>
        <div class="col-sm-6" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500">
          <h2 class="my-4 font-3"> Experience </h2>
          <p class="card-text ordinary-text">
            Through the latest generation IoT and motion tracking technology, you will obtain personalized feedback on how you can improve your skill in the art. Moreover, with live audio
            feedback, you can be sure that you will have an expert by your side at all times to give you the best possible experience.
          </p>
        </div>
      </div>

      <p style="margin-bottom: 0.7cm"></p>
      <div class="row box-medium-large">
        <div class="col-sm-6" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="700">
          <h2 class="my-4 font-3"> Portability </h2>
          <p class="card-text ordinary-text">
            By integrating our platform and advanced features to a mobile device, you will have expert advise in the palm of your hands. Whether you are in the office, in the beach, 
            or at the comfort of your own home, you will have the full yoga experience available to you at all times. 
          </p>
        </div>
        <div id="col-img-6" class="col-sm-6" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="700"></div>
      </div>

      <p style="margin-bottom: 1cm"></p>
      <div class="row box-medium-large col-reverse">
        <div id="col-img-7" class="col-sm-6" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1000"></div>
        <div class="col-sm-6" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1000">
          <h2 class="my-4 font-3"> Flexibility </h2>
          <p class="card-text ordinary-text">
            More than being able to bring your yoga partner wherever you deem fit, you can learn the art at your own individual pace. With expert personalized feedback and performance 
            monitoring, you will gain the best feedback from industry experts and learn at a comfortable pace that fits your own schedule.
          </p>
        </div>
      </div>
    </div>
  </div>

  <p style="margin-bottom: 5cm"></p>
  <!-- Footer -->
  <footer class="py-5 bg-light">
    <div class="container">
      <p class="m-0 text-center ordinary-text">Copyright &copy; AOOEmbed 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

  <!-- Load AOS animator -->
  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
  <script>
    AOS.init({
      once: true
    });
  </script>
</body>

</html>